@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: "Kumbh Sans", sans-serif;
    @apply antialiased;
  }
  p {
    @apply text-dark-grey;
  }
}

.container-lg {
  max-width: 1675px;
}

.cs-container {
  max-width: 1393px;
}

.container-lg,
.cs-container {
  @apply mx-auto w-full px-15px;
}

.menu {
  margin-left: 130px;
}

.menu a:hover {
  @apply text-primary;
}

.menu li:hover svg path {
  @apply fill-current text-primary;
}

.cs-btn {
  @apply bg-secondary text-white w-full flex items-center justify-center font-bold text-phone-header transition focus:ring-2 focus:ring-primary;
  max-width: 150px;
  height: 58px;
  border-radius: 2px;
}

.cs-btn:hover {
  @apply bg-opacity-80;
}

.cs-header .cs-btn {
  @apply hidden lg:flex;
}

/* HERO */

.cs-hero-texts h1 {
  font-size: 18px;
  line-height: 15px;
  @apply text-dark-grey;
}

.cs-hero-texts h2 {
  @apply text-slogan-sm text-dark-green lg:text-slogan-lg lg:max-w-500px;
}

.cs-hero-texts .hero-content p {
  @apply text-content-p;
}

.cs-hero {
  @apply lg:h-hero-lg;
}
